<link rel="stylesheet" href="/css/header.css" />

<header>
  
  
  <figure class="logo-figure">
    <img src="imagens/GENERATION (1).svg" alt="EcoGeneration Logo" class="logo">
    <figcaption class="visually-hidden"></figcaption>
  </figure>

  <form action="/search" method="get" class="search-form">
    <input type="text" name="q" placeholder="Pesquisar...">
    <button type="submit"> Buscar</button>
  </form>


</header>
                                                                                                                                