<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
  <link rel="stylesheet" href="/css/calculadora.css">
  <link rel="stylesheet" href="/css/style.css">
 
</head>

<body>
  <%- include("../partials/header") %>

  <main class="eco-main">
    
     
      <h2 class="eco-header-title">
        COMO USAR NOSSA <p class="cordiferente">CALCULADORA</p>
      </h2>
    </section>

    <section class="eco-desc">
      <p>
        Descubra quanto você pode economizar e ter mais autonomia com hábitos mais eficientes e escolhas inteligentes. Responda algumas perguntas rápidas e veja o impacto no seu bolso, dia a dia e no planeta.
      </p>
    </section>

    <section class="eco-card">
      <h3 class="eco-card-title">
       <b class="calculadora"><p class="outracor"></p>ECOCALCULADORA</b>
      </h3>
      <form action="/calculadora/perguntas" method="get">
        <button class="eco-btn" type="submit">COMEÇAR</button>
      </form>
    </section>
    <%- include("../partials/footer") %>
  </main>
</body>
</html>