<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOGENERATION - Loja</title>
    <link rel="stylesheet" href="/css/ecoloja.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
 
  </head>
  <body>
  <%- include("../partials/header") %>

  <main class="conteudo">
    <p class="eco_loja">
      <b class="eco">ECO</b><b class="loja">LOJA</b>
    </p>
    <section class="fases">
    <!-- página atual em /public/index.html -->
<a href="/entrada">
  <img src="/imagens/entradaa.svg" alt="Ir para página 2">
</a>
    <!-- página atual em /public/index.html -->
      <a href="/intermediario">
  <img src="/imagens/INTER.svg" alt="Ir para página 3">
</a>

      <img src="imagens/ITENSAVANÇADOS.png.png" alt="Imagem 3" class="zoom">
    </section>
    
          <!-- ...produtos... -->
        </section>
      </section>
    </section>
  </main>

  <%- include("../partials/footer") %>
</body>
    </html>
  
  





   

