<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOGENERATION - Loja</title>
    <link rel="stylesheet" href="/css/ecoloja.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
 
  </head>
  <body>
  <%- include("../partials/header") %>

  <main class="conteudo">
    <p class="eco_loja">
      <b class="eco">ECO</b><b class="loja">LOJA</b>
    </p>
    <section class="fases">
      <img src="imagens/entradaa.svg" alt="Imagem 1" class="zoom">
      <img src="imagens/INTER.svg" alt="Imagem 2" class="zoom">
      <img src="imagens/ITENSAVANÇADOS.png.png" alt="Imagem 3" class="zoom">
    </section>
    <section aria-labelledby="produtos-destaque">
      <h2 id="produtos-destaque">Economia de energia</h2>
      <section class="produtos-grid">
        
      </section>
      <section aria-labelledby="Autonomia">
        <h4 id="Autonomia">Autonomia</h4>
        <section class="produtos-grid">
          <!-- ...produtos... -->
        </section>
      </section>
    </section>
  </main>

  <%- include("../partials/footer") %>
</body>
    </html>
  
  





   

