<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/entrada.css">
  <title>Eco Loja</title>
</head>

<body>

<%- include("../partials/header") %>

<p class="eco_loja">
  <b class="eco">ECO</b><b class="loja">LOJA</b>
</p>

<section aria-labelledby="produtos-destaque">
  <h2 id="produtos-destaque"></h2>

  <section class="produtos-grid">
    <article>
      <img src="imagens/carregadoraluzsolar.png" alt="Carregador a luz Solar">
      <h3>Carregador a Luz Solar</h3>
      <button class="btn-comprar">COMPRAR</button>
    </article>

    <article>
      <img src="imagens/luminariasolar.png" alt="Luminária Solar LED de Parede">
      <h3>Luminária Solar LED de Parede</h3>
      <button class="btn-comprar">COMPRAR</button>
    </article>

    <article>
      <img src="imagens/kitenergiasolarportatil.png" alt="Kit Energia Solar">
      <h3>Kit Energia Solar</h3>
      <button class="btn-comprar">COMPRAR</button>
    </article>

    <article>
      <img src="imagens/Luminariasolarledparede.png" alt="Luminária Solar LED Parede">
      <h3>Luminária Solar LED Parede</h3>
      <button class="btn-comprar">COMPRAR</button>
    </article>

    <article>
      <img src="imagens/lampadaledcomenergiaepainelsolar.png" alt="Lâmpada LED com Energia e Painel Solar">
      <h3>Lâmpada LED com Energia e Painel Solar</h3>
      <button class="btn-comprar">COMPRAR</button>
    </article>

    <article>
      <img src="imagens/lampadaledddd.png" alt="Lâmpada LED KIT 20 UNI">
      <h3>Lâmpada LED KIT 20 UNI</h3>
      <button class="btn-comprar">COMPRAR</button>
    </article>
  </section>
</section>

<footer>
  <p>© EcoGeneration.</p>
  <p><a href="#">Termos de Serviço</a> | <a href="#">Privacidade</a></p>
</footer>

</body>
</html>
