<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoGeneration</title>
  <link rel="stylesheet" href="css/style.css">
  
</head>

<body>
  
 <%- include("../partials/header") %>  

  <figure class="banner">
    <img src="imagens/economize (1).png" alt="Banner sobre sustentabilidade com turbina eólica e painel solar">
    <figcaption class="visually-hidden">Imagem promocional sobre sustentabilidade</figcaption>
  </figure>

  <main>
    <section aria-labelledby="produtos-destaque" id="produtos-destaque">
      <h2>Mais populares-vendidos
        
      </h2>
      <section class="produtos-grid">
  <article>
    <img src="imagens/lampadaled.png" alt="Lâmpada LED">
    <h3>Lâmpada LED</h3>
    <button class="btn-comprar">Comprar</button>
  </article>
  <article>
    <img src="imagens/carregadoraluzsolar.png" alt="Carregador USB">
    <h3>Carregador USB</h3>
    <button class="btn-comprar">Comprar</button>
  </article>
  <article>
    <img src="imagens/luminaria.png" alt="Luminária Solar">
    <h3>Luminária Solar</h3>
    <button class="btn-comprar">Comprar</button>
  </article>
  <article>
    <img src="imagens/ventilador.png" alt="Ventilador">
    <h3>Ventilador</h3>
    <button class="btn-comprar">Comprar</button>
  </article>
</section>
    </section>



    <section class="imagemcalcu">
      <img src="imagens/calculadoraa.svg" alt="Imagem calculadora" a href="/app/views/pages/calculadora-tela-inicial.ejs" class="calculadora">
      <img src="imagens/ECOLOJA.svg" alt="Imagem loja" class="ecoloja">
    
</section>

    <%- include("../partials/footer") %>   

 
</body>
</html>
