<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  
</head>

<body>
  
 <header>

  <figure class="logo-figure">
    <img src="GENERATION (1).svg" alt="EcoGeneration Logo" class="logo">
    <figcaption class="visually-hidden"></figcaption>
  </figure>

  <form action="/search" method="get" class="search-form">
    <input type="text" name="q" placeholder="Pesquisar...">
    <button type="submit"> Buscar</button>
  </form>
</header>


<p class="eco_loja">
  <b class="eco">ECO</b><b class="loja">LOJA</b>
</p>

<img src="ITENSDEENTRADA.png.png" alt="Imagem 1" class="zoom">
<img src="ITENSDEENTRADA.png (3).png" alt="Imagem 2" class="zoom">
<img src="ITENSAVANÇADOS.png.png" alt="Imagem 3" class="zoom">

<section aria-labelledby="produtos-destaque">
  <h2 id="produtos-destaque">Economia de energia</h2>

  <section class="produtos-grid">
    <article>
      <img src="lampadaled.png" alt="Lâmpada LED">
      <h3>Lâmpada de LED Kit 20 UNI</h3>
    </article>

    <article>
      <img src="Luminariasolarledparede.png" alt="Luminária Solar LED de Parede">
      <h3>Luminária Solar LED de Parede</h3>
    </article>

    <article>
      <img src="luminariaholofote.png" alt=" Lumiária Holofote">
      <h3>Luminária Holofote</h3>
    </article>

    <article>
      <img src="kitgeradorsolar.png" alt="Kit Gerador Solar">
      <h3>Kit Gerador Solar</h3>
    </article>
    
  </section>

  <section aria-labelledby="Autonomia">
    <h4 id="Autonomia">Autonomia</h4>
    
    <section class="produtos-grid">
      <article>
        <img src="powerbankportatil.png" alt="Power Bank Solar">
        <h3>Power Bank Solar</h3>
      </article>
  
      <article>
        <img src="miniusinasolarportatil.png" alt="Mini Usinas Solares com Tomada">
        <h3>Mini Usinas Solares com Tomada</h3>
      </article>
  
      <article>
        <img src="kitenergiasolarportatil.png" alt="Kit Energia Solar Portátil">
        <h3>Kit Energia Solar Portátil</h3>
      </article>
  
      <article>
        <img src="ventiladormovidoaenergia.png" alt="Ventilador Movido por Energia Solar">
        <h3>Ventilador Movido por Energia Solar</h3>
      </article>
    </section>
  </section>
  
  





   

